body{
    background-image: linear-gradient(rgba(208, 180, 180, 0.5), rgba(2, 6, 12, 0.5));
    background-size: cover;       /* Use 'cover' to fill screen, or 'contain' to see full image */
    background-position: center;    /* Center the image */
    background-repeat: no-repeat;   /* Prevent tiling */
    background-attachment: fixed;   /* Keeps image fixed on scroll */
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.ab_subtitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 700;
    color: #a39760;
    font-style: italic;
    margin-left: 10px;
}
.ab_title {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
    text-transform: uppercase;
    color: #272727;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.ab_para{
    margin-bottom: 80px;
}
.ab_para p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #00000c;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
text-align: justify;
padding-right: 50px;
}
.abt{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

img,
video {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}